body {
    background-color: rgb(255, 255, 255);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    margin: 0 auto;
}


/* box */
.container > h2{
    color: rgb(0, 0, 0);
}
.box{
    cursor: pointer;
    background-color: rgb(153, 152, 152);
    border-radius: 5px;
    position: relative;
    width: 600px;
    height: 400px;
    box-shadow: 0 0 1px 10px rgb(108, 108, 108) ;
}  
/* object */
#first-object{
    border-radius: 30px;
    position: absolute;
    width: 70px;
    height: 20px;
    top: 100px;
    left: 40px;
    background-color: rgb(0, 153, 255);
}
#second-object{
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 0;
    right: 0;
    left: 0;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    background-color: rgb(255, 0, 0);
}
/* balls */
.box i{
    color: white;
}
#first-ball{
    display: flex;
    align-items: center;
    justify-content: space-around;

    position: absolute;
    width: 70px;
    height: 70px;
    top: 30px;
    left: 50px;
    background-color: blue;
    border-radius: 100%;

}
#second-ball{
    display: flex;
    align-items: center;
    justify-content: space-around;

    position: absolute;
    width: 70px;
    height: 70px;
    bottom:30px;
    right: 50px;
    background-color: rgb(255, 51, 0);
    border-radius: 100%;
   
}
/* hover */
.box:hover #first-ball{
    animation: firstBallMovement 15s 1 linear;

}
.box:hover #second-ball{
    animation: secondBallMovement 15s 1 linear;

}
/* animations */
@keyframes firstBallMovement {
    /* up */
    0%{
        transform: scaleX(1);
        top: 30px;
        left: 50px;
    }
    /* up */
    10%{

        top:15px;
        left: 50px;
    }
    /* up */
    15%{
        top:15px;
        left:100px;
    }
    19%{
        transform: scaleX(1);
    }
    /* down */
    20%{
        top:300px;
        left:150px;
        transform: scaleX(1.5);
    }
    /* up */
    25%{
        transform: scaleX(1);
        top:50px;
        left:200px;
    }

    29%{
        transform: scaleX(1);
    }
    /* down */
    30%{
        transform: scaleX(1.3);
        top:300px;
        left: 250px;
    }
    /* up */
    
    35%{
        transform: scaleX(1);
        top: 100px;
        left: 300px;
    }
    39%{
        transform: scaleX(1);
    }
    /* down */
    40%{
        transform: scaleX(1.2);
        top:300px;
        left:350px;
    }
    /* up */
    50%{
        transform: scaleX(1);
        top:150px;
        left:400px ;
    }
    /* down */
    55%{
        top:300px;
        left: 410px;
    }
    /* stable */
    60%{
        top:300px;
        left: 410px;
    }
     /* stable */
    65%{
        top:300px;
        left: 410px;
    }
    /* up */
    70%{
        top:200px;
        left: 410px;
    }
    /* down */
    75%{
        top:300px;
        left: 410px;
    }
    /* up */
    80%{
        top:200px;
        left: 410px;
    }
    /* down */
    85%{
        top:300px;
        left: 410px;
    }
    /* up */
    90%{
        top:250px;
        left: 410px;
    }
    /* down */
    100%{
        top:300px;
        left: 410px;
    }
}
@keyframes secondBallMovement {
    0%{
        bottom:30px;
        right: 50px;
    }
    25%{
        bottom:30px;
        right: 50px;
    }
    30%{
        bottom:30px;
        right: 50px; 
    }
    50%{
        bottom:30px;
        right: 50px;
    }
    60%{
        bottom:30px;
        right: 50px;

    }
    /* up */
    70%{
        bottom: 100px;
        right: 50px;
    }
    /* down */
    75%{
        bottom:30px;
        right: 50px;
    }
    /* up */
    80%{
        bottom: 100px;
        right: 50px;
    }
    /* down */
    85%{
        bottom:30px;
        right: 50px;
    }
    /* up */
    90%{
        bottom: 100px;
        right: 50px;
    }
    /* down */
    100%{
        bottom:30px;
        right: 50px;
    }
}